.flag-img{
    width:20px;
    height:auto;
    max-height: 20px;
    object-fit: cover;
    display:block;
}
.numbers-select{
    
    border:1px solid white;
    background:transparent;
    background-color: transparent;
}
.flag-div{
    position:absolute;
    top:50px;
    left:20px;
    display:flex;
    justify-content: center;
    align-items:center;
}

#phone{
    
    text-align:center;


    

    
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

#country{
    width: 100%;

}

